body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.name-nature {
    margin-bottom: -4px;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    color: #56A950;
}

.name-notice {
    margin-top: -4px;
    font-family: Inter;
    font-size: 20px;
    color: #56A950;
}

.logo-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-with-text img {
    width: 50px;
    height: 50px;
    padding-right: 3px;
}

.menu-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin: 0;
}

.menu-items li {
    padding: 0 10px;
    float: left;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px 15px 120px;
}

.search-box {
    border-radius: .5em;
}


.search-icon {

}
