.button,
.button1 {
  align-self: stretch;
}
.button {
  width: 72px;
}
.button1 {
  flex: 1;
}
.button2 {
  align-self: stretch;
  width: 71px;
}
.venueselections {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.vectorIcon {
  height: 8px;
  width: 14px;
  position: relative;
  object-fit: contain;
  display: none;
}
.venueselector {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  box-shadow: 0 19px 5px transparent, 0 12px 5px rgba(196, 196, 196, 0.01),
    0 7px 4px rgba(196, 196, 196, 0.05), 0 3px 3px rgba(196, 196, 196, 0.09),
    0 1px 2px rgba(196, 196, 196, 0.1);
  border: 1px solid var(--color-lightgray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-lgi) var(--padding-3xs)
    var(--padding-4xs);
  gap: var(--gap-3xs);
}
